<% content_for :title do %>Zmeinka Power System<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="voltage" data-view="Meter" data-title="Voltage" data-min="36" data-max="62" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature" data-view="Meter" data-title="Temperature" data-min="-30" data-max="50" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity" data-view="Meter" data-title="Humidity" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>
  </ul>
</div>
